name: Maven Build for All Modules

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build Email project
      working-directory: ./Email
      run: mvn -B clean verify

    - name: Build InventoryManager project
      working-directory: ./InventoryManager
      run: mvn -B clean verify

    - name: Build TextProcessor project
      working-directory: ./TextProcessor
      run: mvn -B clean verify

    - name: Upload JaCoCo Reports
      uses: actions/upload-artifact@v3
      with:
        name: jacoco-reports
        path: |
          Email/target/site/jacoco
          InventoryManager/target/site/jacoco
          TextProcessor/target/site/jacoco
